<h1>Formulario de rutinas</h1>

<form [formGroup]= 'formRutina'>
    <div class="datosRutina">

        <mat-form-field appearence="outline">
            <mat-label>Rutina</mat-label>
            <input matInput type="text" formControlName="rutina">
        </mat-form-field>

        <mat-form-field appearence="outline">
            <mat-label>Repeticiones</mat-label>
            <input matInput type="number" formControlName="repeticiones">
        </mat-form-field>

        <mat-form-field appearence="outline">
            <mat-label>Peso a Levantar</mat-label>
            <input matInput type="number" formControlName="peso">
        </mat-form-field>

    </div>

    <button mat-raised-button (click)="enviar()">Enviar</button>
    
</form>
